<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/{{data.skin}}.css">
</head>
<body>
  <h1>TodoList</h1>
  <a href="/add">Add Task</a>
  <ul>
    {% for task in data.tasks %}
      {% if task.done %}
        {% set name = 'done' %}
        <li class="{{name}}">
          <input type="checkbox" checked>
          {{ task.title }}
          <a href="">Delete</a>
        </li>
      {% else %}
        {% set name = '' %}
        <li class="{{name}}">
          <input type="checkbox">
          {{ task.title }}
          <a href="">Delete</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</body>
</html>